<div class="jumbotron white">

  <h1>Edit your Profile</h1>

  <%= bootstrap_form_for @user do |f| %>
    <%= f.text_field :name %> <br>
    <%= f.email_field :email %> <br>
    <%= f.text_field :address_line_1 %> <br>
    <%= f.text_field :address_line_2 %> <br>
    <%= f.text_field :city %> <br>
    <%= f.text_field :zip_code %> <br>
    <%= f.text_field :state %> <br>
    <%= f.password_field :password %> <br>
    <%= f.password_field :password_confirmation %> <br>
    <%= f.text_field :image %> <br>
    <%= f.submit class:'btn btn-info' %>
  <% end %>

</div>



