<h1>Sign Up</h1>
<%= bootstrap_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.email_field :email %>
</div>
<div class="field">
  <%= f.text_field :address_line_1 %>
</div>
<div class="field">
  <%= f.text_field :address_line_2 %>
</div>
<div class="field">
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.number_field :zip_code %>
</div>
<div class="field">
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.password_field :password_confirmation %>
</div>
<div class="field">
  <%= f.text_field :image %>
</div>
<div class="actions"><%= f.submit %></div>
<% end %>
