<div class="jumbotron sIndex">
 <h1><u class='change'>Edit your Shoe</h1>
</div>
  <%= bootstrap_form_for [:user, @shoe] do |f| %>
  <%= f.text_field :name %> <br>
  <%= f.text_field :condition %> <br>
  <%= f.text_field :asking_price %> <br>
  <%= f.text_field :image %> <br>
  <%= f.submit %>
<% end %>

<div class="panel-footer bottom">
  <p class="text-warning">Jaytee Sanchez</p>
</div>



