<div class="jumbotron sIndex">
 <h1><u class='change'>Edit your Shoe</h1>
</div>
<%= bootstrap_form_for [:user, @shoe] do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %> <br>

  <%= f.label :condition %>:
  <%= f.text_field :condition %> <br>

  <%= f.label :asking_price %>:
  <%= f.text_field :asking_price %> <br>

  <%= f.label :image %>:
  <%= f.text_field :image %> <br>

  <%= f.submit %>
<% end %>

<div class="panel-footer bottom">
  <p class="text-warning">Jaytee Sanchez</p>
</div>



