<div class="jumbotron sIndex">
 <h1><u class='change'>Edit your Shoe</h1>
</div>
  <%= bootstrap_form_for [:user, @shoe] do |f| %>
  <%= f.text_field :name %> <br>
  <%= f.number_field :size %> <br>
   <%= f.select :condition, [['DS','DS'],['PADS','PADS'],['VNDS','VNDS'],['GOOD','GOOD'], ['BEATERS', 'BEATERS']] %>
  <%= f.text_field :asking_price %> <br>
  <%= f.text_field :image %> <br>
  <%= f.submit %>
<% end %>

<div class="panel-footer bottom">
<a href="https://github.com/jayteesanchez/project_2"><p class="text-warning">&copy; Jaytee Sanchez</p></a>
 </div>


