

<h1>Sell your Shoes</h1>
  <%= bootstrap_form_for [:user, @shoe] do |f| %>
  <%= f.text_field :name %> <br>

  <%= f.text_field :condition %> <br>

  <%= f.text_field :asking_price %> <br>

  <%= f.text_field :image %> <br>

  <%= f.submit %>
<% end %>

