<a href="/shoes">Back to Shoes for Sale</a>

<h1>For Sale</h1>

Name: <%= @shoe.name %><br>
Condition: <%= @shoe.condition %><br>
Asking Price: <%= @shoe.asking_price %><br>
<img src="<%= @shoe.image %>"><br>
Seller: <%= @user %><br>

<%= link_to 'Edit Shoe', edit_shoe_path %>
