<!DOCTYPE html>
<html>
<head>
  <title>RoundHouse Kicks</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <!-- Bootstrap Styling for the Nav Bar and setting the Container Div accross all pages -->
<div class="container">
  <nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/login"><p class="text-warning">RoundHouse Kicks</p></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li><a href="/users/:user_id/shoes">SHOP</a></li>
      <li><a href="/users">CONNECT</a></li>
      <li><%= link_to "SELL", new_user_shoe_path(current_user, @shoe), method: :get %></li>
      <% else %>
      <li><a href="/users">Who's already Signed up?</a></li>
      <% end %>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% flash.each do |name, message| %>
        <div class="flash-message flash-message-<%= name %>">
          <li><%= message %></li>
        </div>
        <% end %>
      </li>
      <!-- If else statement that will change the links in the Nav Bar depending on if the user is logged in or not -->
        <% if current_user %>
        <li class="text-warning">
          <a href="/users/<% current_user.id %>"> <p class="text-warning">Hello, <%= current_user.name %></p></a>
        </li>
        <li class="text-danger">
          <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
      <% else %>
        <li class="text-warning">
          <a href="/users/new"> <p class="text-warning">Sign Up!</p></a>
        </li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
      <%= yield %>
</div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- My attempt to use the Ebay API (ICEBOX) -->
</body>
</html>



