<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
      <% end %>
      <% if current_user %>
      <p> Hello, <%= current_user.name %> </p>
      <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %><br>
      <% else %>
      <%= link_to 'Please login', login_path %><br>
      <% end %>
</head>
<body>
<div class="jumbotron">
  <div class="container">
<%= yield %>
 </div>
</div>
</body>
</html>



